[Eth]
NetworkId = 940
SyncMode = "snap"
NoPruning = false
NoPrefetch = false
LightPeers = 100
UltraLightFraction = 75
EnablePreimageRecording = false

[Eth.Miner]
GasFloor = 30000000
GasCeil = 40000000
GasPrice = 1000000000
Recommit = 10000000000
Noverify = false

[Eth.Ethash]
CacheDir = ""
CachesInMem = 0
CachesOnDisk = 0
CachesLockMmap = false
DatasetDir = ""
DatasetsInMem = 0
DatasetsOnDisk = 0
DatasetsLockMmap = false
PowMode = 0

[Eth.TxPool]
Locals = []
NoLocals = true
Journal = "transactions.rlp"
Rejournal = 3600000000000
PriceLimit = 1000000000
PriceBump = 10
AccountSlots = 16
GlobalSlots = 4096
AccountQueue = 64
GlobalQueue = 1024
Lifetime = 10800000000000

[Eth.GPO]
Blocks = 20
Percentile = 60

[Node]
InsecureUnlockAllowed = false
NoUSB = true
IPCPath = "geth.ipc"
HTTPPort = 8575
HTTPVirtualHosts = ["*"]
HTTPModules = ["eth", "net", "web3", "txpool", "parlia"]
WSPort = 8576
WSModules = ["eth", "net", "web3", "txpool", "parlia"]

[Node.P2P]
MaxPeers = 50
NoDiscovery = false
StaticNodes = []
BootstrapNodes = [
    "enode://71cdae146d6cde7ebd8d24a8b258814870e0b70973d9f12132ff788df4d4b3f759e07bfd562442ba6179446bea70db9668eb4cc361d1839dec5863712a26bfc4@3.80.7.29:30401",
    "enode://fc2a3c3212fe8a105f6215c105cf95e228bd0c8eed3316aadde2deb8894ffa227eab8c8db6347604a30233ca8cf1be11a1aaf0f92780cb9f1336212f6c1d7f13@3.84.236.46:30401",
    "enode://379b358bea1fd0419ef3a1476011d146554b261b3114ae8a1d93b32673e79b7b4aa51f9252ef2f2f6021066e359efffb5356e6c08355c3e666d3e19104b87086@34.229.154.166:30401"
]
TrustedNodes = []
ListenAddr = ":30312"
EnableMsgEvents = false

[Node.HTTPTimeouts]
ReadTimeout = 30000000000
WriteTimeout = 30000000000
IdleTimeout = 120000000000
